.nav{
    display: flex;
    justify-content: space-evenly;
    gap : 50px;
    
   
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
a:active{
    color:orangered;
    text-decoration: underline;
    
}
.logo {
    height : 100px;
    aspect-ratio: 1024/1024;
}
header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 30px;
    background-color: rgba(12,34,57,255);
}
.container {
    width: 100%;
    height: 100%;
    display:  flex;
    gap : 30px;
    padding: 10px 30px;
}

.image{
    aspect-ratio: 1024/585;
    height : 300px;
    border-radius: 10px;
   
}

html,body {
    height: 100%;
    width:  100%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    align-items: right;
    padding: 10px,10px;
    margin-left: 30px;
}